:root {
  --primary: #7e9f44;
  --secondary: #88966b;
  --link: rgb(36, 119, 191);;
  --white: #fff;
  --roboto: 'Roboto', sans-serif;
  --green: #3d7447;
  --index-red: rgb(217, 22, 4);
  --index-yellow: rgb(242, 187, 19);
  --index-blue: rgb(36, 119, 191);
  --index-green: rgb(106, 166, 46);
  --overlay-red: rgba(217, 22, 4, .8);
  --overlay-yellow: rgba(242, 187, 19, .8);
  --overlay-blue: rgba(36, 119, 191, .8);
  --overlay-green: rgba(106, 166, 46, .8);
}
html {
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  background-color: #fff;
  box-sizing: border-box;
  font-family: var(--roboto);
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--roboto);
  font-weight: 500;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  outline : none;
}
a:hover {
  color: var(--link);
}
/* ==========================================================================
   Custom Styles
   ========================================================================== */

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.wrapper.background {
  background-color: var(--white);
}

.widget-box {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin: 0em;
  position: relative;
  display: flex;
  flex-direction: column;
}

.widget-box.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.widget-box:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.widget-box .body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: #fbfafa;
}

.slider{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.slide {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	float: left;
	position: absolute;
}

.outer-box {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../lib/img/back.jpg');
  background-position: top;
  position: relative;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
}

.overlay.bad {
  background-color: var(--overlay-red)
}
.overlay.medium {
  background-color: var(--overlay-yellow)
}
.overlay.good {
  background-color: var(--overlay-blue)
}
.overlay.verygood {
  background-color: var(--overlay-green)
}

.widget-body {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 10;
  align-items: center;
}

.widget-body-heading {
  width: 100%;
}

.widget-body-heading h2 {
  color: #fff;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  padding-left: .5em;
  padding-right: .5em;
}

.widget-body-heading span {
  font-weight: 900;
  text-transform: uppercase;
  display: block;
}

.widget-body-main {
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
}

.widget-body-main div {
  flex: 1 auto;
}
.widget-body-main i {
  font-size: 3.5rem;
  text-align: center;
  display: block;
  margin: .15em 0;
}
.widget-body-main [href="#previous"] > i,
.widget-body-main [href="#next"] > i {
  font-size: 3rem;
  text-align: center;
  display: block;
  color: rgba(255, 255, 255, .5);
}

[href="#previous"] > i:hover,
[href="#next"] > i:hover {
  color: rgba(255,255,255, 1);
}

.value {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  margin: .2em 0;
}
.widget-footer {
  width: 100%;
  height: 100%;
  color: #fff;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.footer div {
  width: 100%;
  text-align: center;
}
.logo {
  height: 28px;
}
.footer a {
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  padding-left: .5em;
  font-size: 1.1rem;
  font-style: italic;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
}
